# Composição de Multiplas Visualizações

Na hora de visualizar distintos campos de dados, podemos nos sentir tentados a usar o máximo possível de canais de codificação visual: `x`,`y`,`cor`,`tamanho`,`formato` e etc. No entanto, conforme o número de canais de codificação aumenta, o gráfico pode rapidamente ficar truncado e difícil de ler. Em alternativa a sobrecarregar um único gráfico, podemos usar a _composição de múltiplos gráficos_ para facilitar comparações rápidas.

Nesse capítulo, nós vamos examinar uma variedade de operações para _Composição de Multiplas Visualizações_:

- _layer_: coloca gráficos compatíveis diretamente um em cima do outro,
- _facet_: particiona dados em múltiplos gráficos, organizados em linhas e colunas,
- _concatenate_: posiciona arbitrariamente gráficos na mesma formatação, e
- _repeat_: seleciona uma especificação de um gráfico de base e aplica em múltiplos campos de dados.

Nós vamos então ver como essas operações formam a _álgebra de composição visual_, na qual essas operações podem ser combinadas para criar uma variedade de complexas exibições de múltiplas visualizações.

_Esse notebook é parte do [Currículo de Visualização de Dados](https://github.com/uwdata/visualization-curriculum)._

In [5]:
import pandas as pd
import altair as alt

## Dados de Clima

Nós vamos estar visualizando estatísticas de clima nas cidades de Seattle e Nova Iorque nos Estados Unidos. Vamos carregar o conjunto e espiar as primeiras e últimas 10 colunas:

In [6]:
clima = 'https://cdn.jsdelivr.net/npm/vega-datasets@1/data/weather.csv'

In [7]:
df = pd.read_csv(clima)
df.head(10)

  location        date  precipitation  temp_max  temp_min  wind  weather
0  Seattle  2012-01-01            0.0      12.8       5.0   4.7  drizzle
1  Seattle  2012-01-02           10.9      10.6       2.8   4.5     rain
2  Seattle  2012-01-03            0.8      11.7       7.2   2.3     rain
3  Seattle  2012-01-04           20.3      12.2       5.6   4.7     rain
4  Seattle  2012-01-05            1.3       8.9       2.8   6.1     rain
5  Seattle  2012-01-06            2.5       4.4       2.2   2.2     rain
6  Seattle  2012-01-07            0.0       7.2       2.8   2.3     rain
7  Seattle  2012-01-08            0.0      10.0       2.8   2.0      sun
8  Seattle  2012-01-09            4.3       9.4       5.0   3.4     rain
9  Seattle  2012-01-10            1.0       6.1       0.6   3.4     rain

In [8]:
df.tail(10)

      location        date  precipitation  temp_max  temp_min  wind  weather
2912  New York  2015-12-22            4.8      15.6      11.1   3.8      fog
2913  New York  2015-12-23           29.5      17.2       8.9   4.5      fog
2914  New York  2015-12-24            0.5      20.6      13.9   4.9      fog
2915  New York  2015-12-25            2.5      17.8      11.1   0.9      fog
2916  New York  2015-12-26            0.3      15.6       9.4   4.8  drizzle
2917  New York  2015-12-27            2.0      17.2       8.9   5.5      fog
2918  New York  2015-12-28            1.3       8.9       1.7   6.3     snow
2919  New York  2015-12-29           16.8       9.4       1.1   5.3      fog
2920  New York  2015-12-30            9.4      10.6       5.0   3.0      fog
2921  New York  2015-12-31            1.5      11.1       6.1   5.5      fog

Nós vamos criar exibições de múltiplas visualizações para examinar dentro e entre as cidades.